html {
    background-color: #000;
    background: url("../images/background.webp") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.heading {
    margin: auto 1rem;
    text-align: center;
}

.heading img {
    height: auto;
    max-width: 100%;
}

.game-area {
    background-color: rgba(255, 255, 255, 0.5);
    border: #000 solid;
    box-shadow: 15px 15px;
    display: block;
    margin: auto;
    height: 30rem;
    width: 75%;
}