html {
    background-color: #000;
    background: url("../images/background.webp") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.heading {
    text-align: center;
}

.heading img {
    max-width: 50rem;
}