html {
    background-color: #000;
    background: url("../images/background.webp") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.heading {
    margin: auto 1rem;
    text-align: center;
}

.heading img {
    height: auto;
    max-width: 100%;
}

.game-area {
    background-color: rgba(255, 255, 255, 0.6);
    border: #000 solid;
    box-shadow: 10px 10px;
    display: block;
    font-family: 'Oswald', sans-serif;
    margin: 20% auto auto;
    height: 75%;
    padding: 2rem;
    width: 75%;
}